<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Admin Calendario</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
	<th:block th:replace="fragments/comun :: head"></th:block>
	<link rel="stylesheet" type="text/css" media="screen" th:href="@{/styles/main.css}"/>
	<link rel="stylesheet" type="text/css" media="screen" href="../../resources/fullcalendar/fullcalendar.min.css" th:href="@{/styles/fullcalendar.min.css}"/>
	<script src="../../js/index-admin.js" th:src="@{/scripts/index-admin.js}"></script>
    <script src="../../js/moment.js" th:src="@{/scripts/moment.js}"></script>
    <script src="../../js/calendario.js" th:src="@{/scripts/calendario.js}"></script>
    <script src="../../resources/fullcalendar/fullcalendar.min.js" th:src="@{/scripts/fullcalendar.min.js}"></script>
    <script src="../../resources/fullcalendar/locale/es.js" th:src="@{/scripts/es.js}"></script>
</head>

<body>
	<ul th:replace="fragments/comun :: index-dropdown"></ul>
	<nav th:replace="fragments/comun :: index-nav"></nav>
	<ul th:replace="fragments/comun :: sideBar"></ul>
	<div th:replace="fragments/comun :: modal-contacto"></div>
	<div th:replace="fragments/comun :: toggle-sideBar"></div>
    <div class="container">
        <div class="row">
            <div class="section">
                <div id="calendar"></div>
            </div>
        </div>
        <div class="row">
            <a class="btn-floating btn-large waves-effect waves-light red" href="../admin/reserva-nueva.html" th:href="@{/admin/nueva-reserva}" sec:authorize="hasRole('ADMIN')"><i class="material-icons">add</i></a>
            <a class="btn-floating btn-large waves-effect waves-light red" href="../admin/reserva-nueva.html" th:href="@{/user/nueva-reserva}" sec:authorize="hasRole('USER')"><i class="material-icons">add</i></a>
        </div>
    </div>
</body>

</html>