<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Lista de Usuarios</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
    <th:block th:replace="fragments/comun :: head"></th:block>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/styles/main.css}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/usuarios-lista.css" th:href="@{/styles/usuarios-lista.css}"/>
    <script src="../../js/index-admin.js" th:src="@{/scripts/index-admin.js}"></script>
</head>

<body>
	<ul th:replace="fragments/comun :: index-dropdown"></ul>
  	<nav th:replace="fragments/comun :: index-nav"></nav>
  	<ul th:replace="fragments/comun :: sideBar"></ul>
  	<div th:replace="fragments/comun :: modal-contacto"></div>
  	<div th:replace="fragments/comun :: toggle-sideBar"></div>
    <div class="container">
        <div class="row" id="lista-header">
            <div class="col s6">
                <h1 th:text="#{administrar.usuario.titulo}">Usuarios</h1>
            </div>
            <div class="col s6 hide-on-med-and-down" id="button-nuevo-elemento">
                <h2 th:text="#{administrar.usuario.aniadirUsuario}">Nuevo Usuario</h2>
                <a class="btn-floating btn-large waves-effect waves-light red" th:href="@{/admin/nuevo-usuario}"><i class="material-icons">add</i></a>
            </div>
        </div>
        <div class="row hide-on-med-and-up show-on-medium-and-down">
            <div class="col s12">
                <h2 th:text="#{administrar.usuario.aniadirUsuario}">Nuevo Usuario</h2>
                <a class="btn-floating btn-large waves-effect waves-light red" th:href="@{/admin/nuevo-usuario}"><i class="material-icons">add</i></a>
            </div>
        </div>
        <div class="card">
            <table cellspacing="0" class="responsive-table">
                <tr id="header">
                    <th th:text="#{administrar.usuario.id}">Id Usuario</th>
                    <th th:text="#{administrar.usuario.nombre}">Nombre Completo</th>
                    <th th:text="#{administrar.usuario.email}">Email</th>
                    <th th:text="#{administrar.usuario.telefono}">Teléfono de Contacto</th>
                    <th th:text="#{administrar.usuario.verficiacion}">Cuenta Validada</th>
                    <th th:text="#{administrar.usuario.reserva}">Tiene Reserva</th>
                </tr>
                <tr class="dr" th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.id}">5795448</td>
                    <td th:text="${usuario.nombre}">9/6/2016</td>
                    <td th:text="${usuario.email}">Jon Snow</td>
                    <td th:text="${usuario.numTlf}">HO</td>
                    <td th:text="${usuario.isEnabled()}">9/6/2016</td>
                    <td th:text="${not #lists.isEmpty(usuario.reservas)}">New York</td>
                    <td>
                    	<a class="btn-floating btn-small red" th:href="@{'/admin/eliminar-usuario/' + ${usuario.id}}"><i class="material-icons">delete_forever</i></a>
                    </td>
                    <td>
                         <a class="btn-floating btn-small green darken-1" th:href="@{'/admin/editar-usuario/' + ${usuario.id}}"><i class="material-icons">edit</i></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>