<head th:fragment="head" th:remove="tag">
<meta charset="utf-8" />
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/images/logosalesianos.ico}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<ul id="dropdown1" class="dropdown-content" th:fragment="index-dropdown">
	<li><a th:text="#{home.menu.usuarioPerfil}" href="#!">Ver Perfil</a></li>
	<li><a th:text="#{home.menu.usuarioCerrarSesion}" href="/logout">Cerrar Sesión</a></li>
</ul>

<nav id="banner" th:fragment="index-nav">
	<div class="nav-wrapper">
		<div class="background-image" id="logo">
			<ul id="user">
				<li><a class="dropdown-trigger" href="#!"
					data-target="dropdown1" th:text="${usuarioLogueado.nombre}">$Usuario<i class="material-icons right">arrow_drop_down</i></a></li>
			</ul>
		</div>
		<a class="btn-floating btn-large pulse modal-trigger" href="#modal1"
			id="phone"><i class="material-icons">phone</i></a>
	</div>
</nav>

<div id="modal1" class="modal" th:fragment="modal-contacto">
	<div class="modal-content">
		<h5 th:text="#{home.modal}">Si desea mas información puede llamar a los siguientes
			números</h5>
		<h4 class="divider"></h4>
		<h4>
			<a>+34 692 43 97 41</a>
		</h4>
		<h4>
			<a>+34 678 37 70 84</a>
		</h4>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
	</div>
</div>

<div class="section" th:fragment="toggle-sideBar">
	<a data-target="slide-out"
		class="btn-floating btn waves-effect waves-light red sidenav-trigger"
		id="button-menu"><i class="material-icons">menu</i></a>
</div>

<ul id="slide-out" class="sidenav" th:fragment="sideBar">
	<li>
		<div class="user-view">
			<div class="background">
				<img src="https://materializecss.com/images/sample-1.jpg">
			</div>
			<a href="#user"><img class="circle"
				src="../../resources/images/logosalesianos.png"></a> <a
				href="#name"><span class="white-text name" th:text="${usuarioLogueado.nombre}">$loggedUser.nombre</span></a>
			<a href="#email"><span class="white-text email" th:text="${usuarioLogueado.email}">$loggedUser.email</span></a>
		</div>
	</li>
	<li>
		<a th:text="#{home.menu.adminReservas}" sec:authorize="hasRole('USER')" th:href="@{/user/calendario-personal}"><i class="material-icons">event_note</i>Administrar
			Reservas</a>
		<a th:text="#{home.menu.adminReservas}" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/calendario-general}"><i class="material-icons">event_note</i>Administrar
			Reservas</a>
	</li>
	<li>
		<div class="divider"></div>
	</li>
	<li>
		<a th:text="#{home.menu.calendario}" sec:authorize="hasRole('USER')" th:href="@{/user/calendario-general}"><i class="material-icons">event</i>Ver
			Calendario</a>
		<a th:text="#{home.menu.adminUsuario}" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/lista-usuarios}"><i class="material-icons">event</i>Administrar
			Usuarios</a>
	</li>
	<li>
		<div class="divider"></div>
	</li>
	<li>
		<a th:text="#{home.menu.hacerReservas}" sec:authorize="hasRole('USER')" th:href="@{/user/nueva-reserva}"><i class="material-icons">offline_pin</i>Hacer
			Reserva</a>
		<a th:text="#{home.menu.adminSalas}" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/lista-salas}"><i class="material-icons">offline_pin</i>Administrar
			Salas</a>
	</li>
</ul>

<script th:fragment="eliminadoExito" th:if="${eliminadoExito}">
M.toast({html: 'Eliminado con éxito'})
</script>

<script th:fragment="editadoExito" th:if="${editadoExito}">
M.toast({html: 'Editado con éxito'})
</script>

<script th:fragment="creadoExito" th:if="${creadoExito}">
M.toast({html: 'Elemento creado con éxito'})
</script>

<script th:fragment="reservaExito" th:if="${reservaExito}">
M.toast({html: 'Reserva realizada con éxito'})
</script>

<script th:fragment="errorSolapa" th:if="${errorSolapa}">
M.toast({html: 'Error de solapamiento en las fechas'})
</script>

<script th:fragment="errorFecha" th:if="${errorFecha}">
M.toast({html: 'La Fecha Inicial debe ser anterior a la Fecha Final'})
</script>

<script th:fragment="errorHoras" th:if="${errorHoras}">
M.toast({html: 'La Reserva debe ser posterior a las 08:00 y antes de las 21:00'})
</script>

<script th:fragment="exitoDeshabilitarFinesDeSemana" th:if="${exitoDeshabilitarFinesDeSemana}">
M.toast({html: 'Éxito al modificar el estado de activación de los Fines de Semana.'})
</script>